business-process-management/src/main/resources/wsdl/edr-registry.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:plink="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap11enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap11env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:soap12enc="http://www.w3.org/2003/05/soap-encoding" xmlns:soap12env="http://www.w3.org/2003/05/soap-envelope" xmlns:tns="http://nais.gov.ua/api/sevdeir/EDR" xmlns:wsa="http://schemas.xmlsoap.org/ws/2003/03/addressing" xmlns:xop="http://www.w3.org/2004/08/xop/include" xmlns:xroad="http://x-road.eu/xsd/xroad.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" name="EDRService" targetNamespace="http://nais.gov.ua/api/sevdeir/EDR">
    <wsdl:types>
        <xs:schema elementFormDefault="qualified" targetNamespace="http://nais.gov.ua/api/sevdeir/EDR">
            <xs:complexType name="SubjectRoleDict"/>
            <xs:complexType name="SubjectStateDict"/>
            <xs:complexType name="ErrorsPart">
                <xs:sequence>
                    <xs:element minOccurs="0" name="inner_message" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="inner_code" nillable="true" type="xs:integer"/>
                    <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="code" nillable="true" type="xs:integer"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="assignee">
                <xs:annotation>
                    <xs:appinfo>
                        <ns0:title xmlns:ns0="http://x-road.eu/xsd/xroad.xsd">Правонаступник</ns0:title>
                    </xs:appinfo>
                </xs:annotation>
                <xs:complexContent>
                    <xs:extension base="tns:SubjectDetailRelatedSubject"/>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="openEnforcementsArray">
                <xs:annotation>
                    <xs:appinfo>
                        <ns0:title xmlns:ns0="http://x-road.eu/xsd/xroad.xsd">Дата відкриття виконавчого провадження щодо юридичної особи (для незавершених виконавчих проваджень)</ns0:title>
                    </xs:appinfo>
                </xs:annotation>
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="open_enforcement" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="assigneeArray">
                <xs:annotation>
                    <xs:appinfo>
                        <ns0:title xmlns:ns0="http://x-road.eu/xsd/xroad.xsd">Дані про юридичних осіб-правонаступників: повне найменування та місцезнаходження юридичних осіб-правонаступників, їх ідентифікаційні коди</ns0:title>
                    </xs:appinfo>
                </xs:annotation>
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="assignee" nillable="true" type="tns:assignee"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="telArray">
                <xs:annotation>
                    <xs:appinfo>
                        <ns0:title xmlns:ns0="http://x-road.eu/xsd/xroad.xsd">Перелік контактних телефонів</ns0:title>
                    </xs:appinfo>
                </xs:annotation>
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="tel_item" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="AuthorizationToken">
                <xs:simpleContent>
                    <xs:extension base="xs:string"/>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="RoleItem">
                <xs:sequence>
                    <xs:element minOccurs="0" name="role_text" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="role" nillable="true" type="xs:integer"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SearchSubjectRequest">
                <xs:sequence>
                    <xs:element minOccurs="0" name="limit" nillable="true" type="xs:integer"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="passport" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="code" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="StateItem">
                <xs:sequence>
                    <xs:element minOccurs="0" name="state" nillable="true" type="xs:integer"/>
                    <xs:element minOccurs="0" name="state_text" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="activity_kind">
                <xs:annotation>
                    <xs:appinfo>
                        <ns0:title xmlns:ns0="http://x-road.eu/xsd/xroad.xsd">Вид економічної діяльності</ns0:title>
                    </xs:appinfo>
                </xs:annotation>
                <xs:sequence>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="is_primary" nillable="true" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="code" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SubjectDetailAddressParts">
                <xs:annotation>
                    <xs:appinfo>
                        <ns0:title xmlns:ns0="http://x-road.eu/xsd/xroad.xsd">Адреса у розгорнутому вигляді</ns0:title>
                    </xs:appinfo>
                </xs:annotation>
                <xs:sequence>
                    <xs:element minOccurs="0" name="atu_code" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="street" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="building" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="house" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="atu" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="num" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="building_type" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="house_type" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="num_type" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SubjectDetailAuthorisedCapital">
                <xs:annotation>
                    <xs:appinfo>
                        <ns0:title xmlns:ns0="http://x-road.eu/xsd/xroad.xsd">Дані про розмір статутного капіталу (статутного або складеного капіталу) та про дату закінчення його формування, якщо суб’єкт – юридична особа</ns0:title>
                    </xs:appinfo>
                </xs:annotation>
                <xs:sequence>
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="date" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SubjectDetailBankruptcy">
                <xs:annotation>
                    <xs:appinfo>
                        <ns0:title xmlns:ns0="http://x-road.eu/xsd/xroad.xsd">Дані про перебування юридичної особи в процесі провадження у справі про банкрутство, санації</ns0:title>
                    </xs:appinfo>
                </xs:annotation>
                <xs:sequence>
                    <xs:element minOccurs="0" name="state" nillable="true" type="xs:integer"/>
                    <xs:element minOccurs="0" name="date_judge" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="doc_date" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="date" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="state_text" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="court_name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="doc_number" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SubjectDetailExecutivePower">
                <xs:annotation>
                    <xs:documentation>Центральний чи місцевий орган виконавчої влади, до сфери управління якого належить державне підприємство або частка держави у статутному капіталі юридичної особи, якщо ця частка становить не менше 25 відсотків</xs:documentation>
                    <xs:appinfo>
                        <ns0:title xmlns:ns0="http://x-road.eu/xsd/xroad.xsd">Центральний чи місцевий орган виконавчої влади, до сфери управління якого належить державне підприємство або частка держави у статутному капіталі юридичної особи, якщо ця частка становить не менше 25 відсотків</ns0:title>
                    </xs:appinfo>
                </xs:annotation>
                <xs:sequence>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="code" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SubjectDetailNames">
                <xs:annotation>
                    <xs:documentation>Перелік найменувань суб'єкта</xs:documentation>
                    <xs:appinfo>
                        <ns0:title xmlns:ns0="http://x-road.eu/xsd/xroad.xsd">Перелік найменувань суб'єкта</ns0:title>
                    </xs:appinfo>
                </xs:annotation>
                <xs:sequence>
                    <xs:element minOccurs="0" name="short" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="include_olf" nillable="true" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="name_en" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="display" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="short_en" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SubjectDetailPrimaryActivityKind">
                <xs:annotation>
                    <xs:appinfo>
                        <ns0:title xmlns:ns0="http://x-road.eu/xsd/xroad.xsd">Дані органів статистики про основний вид економічної діяльності юридичної особи, визначений на підставі даних державних статистичних спостережень відповідно до статистичної методології за підсумками діяльності за рік</ns0:title>
                    </xs:appinfo>
                </xs:annotation>
                <xs:sequence>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="code" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="class" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="reg_number" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SubjectDetailRegistration">
                <xs:annotation>
                    <xs:appinfo>
                        <ns0:title xmlns:ns0="http://x-road.eu/xsd/xroad.xsd">Дата державної реєстрації, дата та номер запису в Єдиному державному реєстрі про включення до Єдиного державного реєстру відомостей про юридичну особу</ns0:title>
                    </xs:appinfo>
                </xs:annotation>
                <xs:sequence>
                    <xs:element minOccurs="0" name="is_transformation" nillable="true" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="record_number" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="is_separation" nillable="true" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="is_division" nillable="true" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="record_date" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="date" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="is_merge" nillable="true" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="registration">
                <xs:annotation>
                    <xs:appinfo>
                        <ns0:title xmlns:ns0="http://x-road.eu/xsd/xroad.xsd">Відомості</ns0:title>
                    </xs:appinfo>
                </xs:annotation>
                <xs:sequence>
                    <xs:element minOccurs="0" name="start_num" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="start_date" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="end_num" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="end_date" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="code" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SubjectDetailRequest">
                <xs:sequence>
                    <xs:element name="id" nillable="true" type="xs:integer"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SubjectDetailTermination">
                <xs:annotation>
                    <xs:appinfo>
                        <ns0:title xmlns:ns0="http://x-road.eu/xsd/xroad.xsd">Дата та номер запису про державну реєстрацію припинення юридичної особи, підстава для його внесення</ns0:title>
                    </xs:appinfo>
                </xs:annotation>
                <xs:sequence>
                    <xs:element minOccurs="0" name="record_number" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="state" nillable="true" type="xs:integer"/>
                    <xs:element minOccurs="0" name="requirement_end_date" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="date" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="cause" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="state_text" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SubjectDetailTerminationCancel">
                <xs:annotation>
                    <xs:appinfo>
                        <ns0:title xmlns:ns0="http://x-road.eu/xsd/xroad.xsd">Дата та номер запису про відміну державної реєстрації припинення юридичної особи, підстава для його внесення</ns0:title>
                    </xs:appinfo>
                </xs:annotation>
                <xs:sequence>
                    <xs:element minOccurs="0" name="record_number" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="date_judge" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="doc_date" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="date" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="court_name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="doc_number" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SubjectInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="state" nillable="true" type="xs:integer">
                        <xs:annotation>
                            <xs:documentation>Код стану суб'єкта</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="state_text" nillable="true" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Текстове відображення стану суб'єкта</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Назва суб'єкта</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="url" nillable="true" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Посилання на деталізовану інформацію про суб'єкта (при використанні API)</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="code" nillable="true" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>ЄДРПОУ; якщо суб'єкт - фізична особа-підприємець - замість ІПНа буде десять нулів</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:integer">
                        <xs:annotation>
                            <xs:documentation>Внутрішній унікальний ідентифікатор суб'єкта в БД ЄДР</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="RoleItemArray">
                <xs:annotation>
                    <xs:appinfo>
                        <ns0:title xmlns:ns0="http://x-road.eu/xsd/xroad.xsd">Довідник можливих ролей суб'єктів</ns0:title>
                    </xs:appinfo>
                </xs:annotation>
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="RoleItem" nillable="true" type="tns:RoleItem"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="StateItemArray">
                <xs:annotation>
                    <xs:appinfo>
                        <ns0:title xmlns:ns0="http://x-road.eu/xsd/xroad.xsd">Довідник можливих станів суб'єктів</ns0:title>
                    </xs:appinfo>
                </xs:annotation>
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="StateItem" nillable="true" type="tns:StateItem"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="activity_kindArray">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="activity_kind" nillable="true" type="tns:activity_kind"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="registrationArray">
                <xs:annotation>
                    <xs:appinfo>
                        <ns0:title xmlns:ns0="http://x-road.eu/xsd/xroad.xsd">Відомості, отримані в порядку взаємного обміну інформацією з відомчих реєстрів органів статистики,  Міндоходів, Пенсійного фонду України</ns0:title>
                    </xs:appinfo>
                </xs:annotation>
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="registration" nillable="true" type="tns:registration"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SubjectInfoArray">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="SubjectInfo" nillable="true" type="tns:SubjectInfo"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SubjectDetailAddress">
                <xs:annotation>
                    <xs:appinfo>
                        <ns0:title xmlns:ns0="http://x-road.eu/xsd/xroad.xsd">Адреса</ns0:title>
                    </xs:appinfo>
                </xs:annotation>
                <xs:sequence>
                    <xs:element minOccurs="0" name="address" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="country" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="parts" nillable="true" type="tns:SubjectDetailAddressParts"/>
                    <xs:element minOccurs="0" name="zip" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SubjectDetailContacts">
                <xs:annotation>
                    <xs:appinfo>
                        <ns0:title xmlns:ns0="http://x-road.eu/xsd/xroad.xsd">Контакти</ns0:title>
                    </xs:appinfo>
                </xs:annotation>
                <xs:sequence>
                    <xs:element minOccurs="0" name="tel" nillable="true" type="tns:telArray"/>
                    <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="fax" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="web_page" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="branch">
                <xs:annotation>
                    <xs:appinfo>
                        <ns0:title xmlns:ns0="http://x-road.eu/xsd/xroad.xsd">Відокремлений підрозділ юридичної особи</ns0:title>
                    </xs:appinfo>
                </xs:annotation>
                <xs:sequence>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="role_text" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="address" nillable="true" type="tns:SubjectDetailAddress"/>
                    <xs:element minOccurs="0" name="type_text" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="type" nillable="true" type="xs:integer"/>
                    <xs:element minOccurs="0" name="code" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="role" nillable="true" type="xs:integer"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="founder">
                <xs:annotation>
                    <xs:appinfo>
                        <ns0:title xmlns:ns0="http://x-road.eu/xsd/xroad.xsd">Засновник</ns0:title>
                    </xs:appinfo>
                </xs:annotation>
                <xs:sequence>
                    <xs:element minOccurs="0" name="capital" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="role" nillable="true" type="xs:integer"/>
                    <xs:element minOccurs="0" name="first_middle_name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="url" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:integer"/>
                    <xs:element minOccurs="0" name="last_name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="role_text" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="address" nillable="true" type="tns:SubjectDetailAddress"/>
                    <xs:element minOccurs="0" name="code" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="head">
                <xs:annotation>
                    <xs:appinfo>
                        <ns0:title xmlns:ns0="http://x-road.eu/xsd/xroad.xsd">Призначена уповноважена особа</ns0:title>
                    </xs:appinfo>
                </xs:annotation>
                <xs:sequence>
                    <xs:element minOccurs="0" name="role" nillable="true" type="xs:integer"/>
                    <xs:element minOccurs="0" name="first_middle_name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="url" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:integer"/>
                    <xs:element minOccurs="0" name="last_name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="appointment_date" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="role_text" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="address" nillable="true" type="tns:SubjectDetailAddress"/>
                    <xs:element minOccurs="0" name="restriction" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="code" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SubjectDetailRelatedSubject">
                <xs:sequence>
                    <xs:element minOccurs="0" name="last_name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="role_text" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="address" nillable="true" type="tns:SubjectDetailAddress"/>
                    <xs:element minOccurs="0" name="role" nillable="true" type="xs:integer"/>
                    <xs:element minOccurs="0" name="first_middle_name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="url" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="code" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:integer"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SubjectList">
                <xs:sequence>
                    <xs:element minOccurs="0" name="SubjectList" nillable="true" type="tns:SubjectInfoArray"/>
                    <xs:element minOccurs="0" name="errors" nillable="true" type="tns:ErrorsPart"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SubjectRoleDictResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Roles" nillable="true" type="tns:RoleItemArray"/>
                    <xs:element minOccurs="0" name="errors" nillable="true" type="tns:ErrorsPart"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SubjectStateDictResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="States" nillable="true" type="tns:StateItemArray"/>
                    <xs:element minOccurs="0" name="errors" nillable="true" type="tns:ErrorsPart"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="founderArray">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="founder" nillable="true" type="tns:founder"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="headArray">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="head" nillable="true" type="tns:head"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="branchArray">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="branch" nillable="true" type="tns:branch"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="predecessor">
                <xs:annotation>
                    <xs:appinfo>
                        <ns0:title xmlns:ns0="http://x-road.eu/xsd/xroad.xsd">Дані про юридичну особу, правонаступником якої є зареєстрована юридична особа</ns0:title>
                    </xs:appinfo>
                </xs:annotation>
                <xs:complexContent>
                    <xs:extension base="tns:SubjectDetailRelatedSubject"/>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="predecessorArray">
                <xs:annotation>
                    <xs:appinfo>
                        <ns0:title xmlns:ns0="http://x-road.eu/xsd/xroad.xsd">Дані про юридичних осіб, правонаступником яких є зареєстрована юридична особа</ns0:title>
                    </xs:appinfo>
                </xs:annotation>
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="predecessor" nillable="true" type="tns:predecessor"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SubjectDetailData">
                <xs:annotation>
                    <xs:documentation>Детальні відомості про суб'єкт</xs:documentation>
                    <xs:appinfo>
                        <ns0:title xmlns:ns0="http://x-road.eu/xsd/xroad.xsd">Детальні відомості про суб'єкт</ns0:title>
                    </xs:appinfo>
                </xs:annotation>
                <xs:sequence>
                    <xs:element minOccurs="0" name="open_enforcements" nillable="true" type="tns:openEnforcementsArray"/>
                    <xs:element minOccurs="0" name="state" nillable="true" type="xs:integer">
                        <xs:annotation>
                            <xs:documentation>Код стану суб'єкта</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="heads" nillable="true" type="tns:headArray"/>
                    <xs:element minOccurs="0" name="termination" nillable="true" type="tns:SubjectDetailTermination"/>
                    <xs:element minOccurs="0" name="state_text" nillable="true" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Текстове відображення стану суб'єкта</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="predecessors" nillable="true" type="tns:predecessorArray"/>
                    <xs:element minOccurs="0" name="assignees" nillable="true" type="tns:assigneeArray"/>
                    <xs:element minOccurs="0" name="registrations" nillable="true" type="tns:registrationArray"/>
                    <xs:element minOccurs="0" name="bankruptcy" nillable="true" type="tns:SubjectDetailBankruptcy"/>
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:integer">
                        <xs:annotation>
                            <xs:documentation>Внутрішній унікальний ідентифікатор суб'єкта в БД ЄДР</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="executive_power" nillable="true" type="tns:SubjectDetailExecutivePower">
                        <xs:annotation>
                            <xs:documentation>Центральний чи місцевий орган виконавчої влади, до сфери управління якого належить державне підприємство або частка держави у статутному капіталі юридичної особи, якщо ця частка становить не менше 25 відсотків</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="founders" nillable="true" type="tns:founderArray"/>
                    <xs:element minOccurs="0" name="activity_kinds" nillable="true" type="tns:activity_kindArray"/>
                    <xs:element minOccurs="0" name="managing_paper" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="object_name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="registration" nillable="true" type="tns:SubjectDetailRegistration"/>
                    <xs:element minOccurs="0" name="prev_registration_end_term" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="contacts" nillable="true" type="tns:SubjectDetailContacts"/>
                    <xs:element minOccurs="0" name="authorised_capital" nillable="true" type="tns:SubjectDetailAuthorisedCapital"/>
                    <xs:element minOccurs="0" name="branches" nillable="true" type="tns:branchArray"/>
                    <xs:element minOccurs="0" name="olf_name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="olf_code" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="address" nillable="true" type="tns:SubjectDetailAddress"/>
                    <xs:element minOccurs="0" name="founding_document" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="management" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="primary_activity_kind" nillable="true" type="tns:SubjectDetailPrimaryActivityKind"/>
                    <xs:element minOccurs="0" name="names" nillable="true" type="tns:SubjectDetailNames">
                        <xs:annotation>
                            <xs:documentation>Перелік найменувань суб'єкта</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="is_modal_statute" nillable="true" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="code" nillable="true" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>ЄДРПОУ; якщо суб'єкт - фізична особа-підприємець - замість ІПНа буде десять нулів</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="termination_cancel" nillable="true" type="tns:SubjectDetailTerminationCancel"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SubjectDetailResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Subject" nillable="true" type="tns:SubjectDetailData">
                        <xs:annotation>
                            <xs:documentation>Детальні відомості про суб'єкт</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="errors" nillable="true" type="tns:ErrorsPart"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="SubjectRoleDict" type="tns:SubjectRoleDict"/>
            <xs:element name="SubjectStateDict" type="tns:SubjectStateDict"/>
            <xs:element name="ErrorsPart" type="tns:ErrorsPart"/>
            <xs:element name="assignee" type="tns:assignee"/>
            <xs:element name="open_enforcements" type="tns:openEnforcementsArray"/>
            <xs:element name="assignees" type="tns:assigneeArray"/>
            <xs:element name="tel" type="tns:telArray"/>
            <xs:element name="AuthorizationToken" type="tns:AuthorizationToken"/>
            <xs:element name="RoleItem" type="tns:RoleItem"/>
            <xs:element name="SearchSubjects" type="tns:SearchSubjectRequest"/>
            <xs:element name="StateItem" type="tns:StateItem"/>
            <xs:element name="activity_kind" type="tns:activity_kind"/>
            <xs:element name="SubjectDetailAddressParts" type="tns:SubjectDetailAddressParts"/>
            <xs:element name="SubjectDetailAuthorisedCapital" type="tns:SubjectDetailAuthorisedCapital"/>
            <xs:element name="SubjectDetailBankruptcy" type="tns:SubjectDetailBankruptcy"/>
            <xs:element name="SubjectDetailExecutivePower" type="tns:SubjectDetailExecutivePower"/>
            <xs:element name="SubjectDetailNames" type="tns:SubjectDetailNames"/>
            <xs:element name="SubjectDetailPrimaryActivityKind" type="tns:SubjectDetailPrimaryActivityKind"/>
            <xs:element name="SubjectDetailRegistration" type="tns:SubjectDetailRegistration"/>
            <xs:element name="registration" type="tns:registration"/>
            <xs:element name="SubjectDetail" type="tns:SubjectDetailRequest"/>
            <xs:element name="SubjectDetailTermination" type="tns:SubjectDetailTermination"/>
            <xs:element name="SubjectDetailTerminationCancel" type="tns:SubjectDetailTerminationCancel"/>
            <xs:element name="SubjectInfo" type="tns:SubjectInfo"/>
            <xs:element name="Roles" type="tns:RoleItemArray"/>
            <xs:element name="States" type="tns:StateItemArray"/>
            <xs:element name="activity_kinds" type="tns:activity_kindArray"/>
            <xs:element name="registrations" type="tns:registrationArray"/>
            <xs:element name="SubjectList" type="tns:SubjectInfoArray"/>
            <xs:element name="SubjectDetailAddress" type="tns:SubjectDetailAddress"/>
            <xs:element name="SubjectDetailContacts" type="tns:SubjectDetailContacts"/>
            <xs:element name="branch" type="tns:branch"/>
            <xs:element name="founder" type="tns:founder"/>
            <xs:element name="head" type="tns:head"/>
            <xs:element name="SubjectDetailRelatedSubject" type="tns:SubjectDetailRelatedSubject"/>
            <xs:element name="SearchSubjectsResponse" type="tns:SubjectList"/>
            <xs:element name="SubjectRoleDictResponse" type="tns:SubjectRoleDictResponse"/>
            <xs:element name="SubjectStateDictResponse" type="tns:SubjectStateDictResponse"/>
            <xs:element name="founders" type="tns:founderArray"/>
            <xs:element name="heads" type="tns:headArray"/>
            <xs:element name="branches" type="tns:branchArray"/>
            <xs:element name="predecessor" type="tns:predecessor"/>
            <xs:element name="predecessors" type="tns:predecessorArray"/>
            <xs:element name="SubjectDetailData" type="tns:SubjectDetailData"/>
            <xs:element name="SubjectDetailResponse" type="tns:SubjectDetailResponse"/>
        </xs:schema>
        <xs:schema xmlns="http://x-road.eu/xsd/identifiers" xmlns:jxb="http://java.sun.com/xml/ns/jaxb" elementFormDefault="qualified" jxb:version="2.1" targetNamespace="http://x-road.eu/xsd/identifiers">
            <xs:complexType name="XRoadIdentifierType">
                <xs:annotation>
                    <xs:documentation>Globally unique identifier in the XROAD system. Identifier consists of object type specifier and list of hierarchical codes (starting with code that identifiers the XROAD instance).</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                    <xs:element minOccurs="0" ref="xRoadInstance"/>
                    <xs:element minOccurs="0" ref="memberClass"/>
                    <xs:element minOccurs="0" ref="memberCode"/>
                    <xs:element minOccurs="0" ref="subsystemCode"/>
                    <xs:element minOccurs="0" ref="serviceCode"/>
                    <xs:element minOccurs="0" ref="serviceVersion"/>
                </xs:sequence>
                <xs:attribute ref="objectType" use="required"/>
            </xs:complexType>
            <xs:simpleType name="XRoadObjectType">
                <xs:annotation>
                    <xs:documentation>Enumeration for XROAD identifier types.</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="MEMBER"/>
                    <xs:enumeration value="SUBSYSTEM"/>
                    <xs:enumeration value="SERVICE"/>
                    <xs:enumeration value="CENTRALSERVICE"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:element name="xRoadInstance" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Identifies the XROAD instance. This field is applicable to all identifier types.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="memberClass" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Type of the member (company, government institution, private person, etc.)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="memberCode" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Code that uniquely identifies a member of given member type.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="subsystemCode" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Code that uniquely identifies a subsystem of given XROAD member.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="serviceCode" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Code that uniquely identifies a service offered by given XROAD member or subsystem.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="serviceVersion" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Version of the service.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:attribute name="objectType" type="XRoadObjectType"/>
            <xs:complexType name="XRoadClientIdentifierType">
                <xs:complexContent>
                    <xs:restriction base="XRoadIdentifierType">
                        <xs:sequence>
                            <xs:element ref="xRoadInstance"/>
                            <xs:element ref="memberClass"/>
                            <xs:element ref="memberCode"/>
                            <xs:element minOccurs="0" ref="subsystemCode"/>
                        </xs:sequence>
                        <xs:attribute ref="objectType" use="required"/>
                    </xs:restriction>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="XRoadServiceIdentifierType">
                <xs:complexContent>
                    <xs:restriction base="XRoadIdentifierType">
                        <xs:sequence>
                            <xs:element ref="xRoadInstance"/>
                            <xs:element ref="memberClass"/>
                            <xs:element ref="memberCode"/>
                            <xs:element minOccurs="0" ref="subsystemCode"/>
                            <xs:element ref="serviceCode"/>
                            <xs:element minOccurs="0" ref="serviceVersion"/>
                        </xs:sequence>
                        <xs:attribute fixed="SERVICE" ref="objectType" use="required"/>
                    </xs:restriction>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns="http://x-road.eu/xsd/xroad.xsd" xmlns:id="http://x-road.eu/xsd/identifiers" elementFormDefault="qualified" targetNamespace="http://x-road.eu/xsd/xroad.xsd">
            <xs:element name="version" type="xs:string"/>
            <xs:element name="client" type="id:XRoadClientIdentifierType"/>
            <xs:element name="service" type="id:XRoadServiceIdentifierType"/>
            <xs:element name="userId" type="xs:string"/>
            <xs:element fixed="4.0" name="protocolVersion" type="xs:string"/>
            <xs:element name="id" type="xs:string"/>
            <xs:element name="title">
                <xs:annotation>
                    <xs:documentation>Title</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string"/>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="notes">
                <xs:annotation>
                    <xs:documentation>Notes for user</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string"/>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="requestheader">
        <wsdl:part element="xroad:protocolVersion" name="protocolVersion"/>
        <wsdl:part element="xroad:id" name="id"/>
        <wsdl:part element="xroad:userId" name="userId"/>
        <wsdl:part element="xroad:service" name="service"/>
        <wsdl:part element="xroad:client" name="client"/>
    </wsdl:message>
    <wsdl:message name="AuthorizationToken">
        <wsdl:part element="tns:AuthorizationToken" name="AuthorizationToken"/>
    </wsdl:message>
    <wsdl:message name="SearchSubjects">
        <wsdl:part element="tns:SearchSubjects" name="SearchSubjects"/>
    </wsdl:message>
    <wsdl:message name="SearchSubjectsResponse">
        <wsdl:part element="tns:SearchSubjectsResponse" name="SearchSubjectsResponse"/>
    </wsdl:message>
    <wsdl:service name="EDRService">
        <wsdl:port binding="tns:EDRService" name="EDRService">
            <soap:address location="https://local.securityserver.example:443"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="EDRService">
        <wsdl:operation name="SearchSubjects" parameterOrder="SearchSubjects">
            <wsdl:input message="tns:SearchSubjects" name="SearchSubjects"/>
            <wsdl:output message="tns:SearchSubjectsResponse" name="SearchSubjectsResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EDRService" type="tns:EDRService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="SearchSubjects">
            <soap:operation soapAction="SearchSubjects" style="document"/>
            <wsdl:input name="SearchSubjects">
                <soap:body use="literal"/>
                <soap:header message="tns:requestheader" part="protocolVersion" use="literal"/>
                <soap:header message="tns:requestheader" part="id" use="literal"/>
                <soap:header message="tns:requestheader" part="userId" use="literal"/>
                <soap:header message="tns:requestheader" part="service" use="literal"/>
                <soap:header message="tns:requestheader" part="client" use="literal"/>
                <soap:header message="tns:AuthorizationToken" part="AuthorizationToken" use="literal"/>
            </wsdl:input>
            <wsdl:output name="SearchSubjectsResponse">
                <soap:body use="literal"/>
                <soap:header message="tns:requestheader" part="protocolVersion" use="literal"/>
                <soap:header message="tns:requestheader" part="id" use="literal"/>
                <soap:header message="tns:requestheader" part="userId" use="literal"/>
                <soap:header message="tns:requestheader" part="service" use="literal"/>
                <soap:header message="tns:requestheader" part="client" use="literal"/>
                <soap:header message="tns:AuthorizationToken" part="AuthorizationToken" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>
